/* Canvas styling for animations */
.background-beams-canvas {
  position: absolute;
  background-color: #212529;
  display: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.about-section-container {
  position: relative; /* Establishes a stacking context for child elements */
  display: flex;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 52px);
  background: transparent; /* Allow the beams to show through */
  font-family: "Montserrat", sans-serif;
  color: #212529;
  background-color: #212529;
  text-align: center;
  z-index: 1; /* Ensures content stays above the beams */
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  color: #212529;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.section-title {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #edeeef;
  text-align: center;
}

.section-subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #edeeef;
  text-align: center;
}

.about-div {
  max-width: 1140px;
  width: 90%;
  max-height: 90%;
  margin: 100px auto;
  padding: 45px 15px;
}

.about-container {
  display: grid;
  width: fit-content;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.about-image {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 350px;
  height: 350px;
  border-radius: 5%;
  object-fit: cover;
  filter: brightness(0.9) saturate(90%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.about-data {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
}

.about-info {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  color: #212529;
}

.about-box {
  background-color: #edeeef;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem 1.25rem;
}

.about-icon {
  color: #212529;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.about-title {
  font-size: 0.7rem;
  font-weight: 700;
}

.about-subtitle {
  font-size: 0.625rem;
  font-weight: 500;
}

.about-description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 700;
  /* padding: 1rem 1rem 1rem 1rem; */
}

.enter-button-motioned {
  height: auto;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .about-container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about-image {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }

  .about-box {
    padding: 0.25rem 0.1rem;
  }

  .about-data {
    text-align: center;
  }

  .about-info {
    justify-content: center;
  }

  .about-div {
    margin: auto auto;
    padding: 15px 15px;
  }

  .about-description {
    text-align: center;
    padding: 5px 5px;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 5.75vw;
  }

  .section-subtitle {
    font-size: 2.75vw;
  }

  .about-info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-description {
    font-size: 2.2vw;
    padding: 0;
  }

  .about-box {
    padding: auto;
    margin: 0px 0px 16px;
  }

  .about-icon {
    font-size: medium;
  }

  .about-title {
    font-size: xx-small;
  }
}

@media (max-width: 350px) {
}
