.admin-console {
  color: #ffffff;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.admin-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1d23;
  padding: 15px;
  border-radius: 10px;
}

.admin-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #edeeef;
  text-align: center;
  flex-grow: 1;
}

.admin-button-group button,
.back-btn {
  background: transparent;
  border: none;
  color: #edeeef;
  font-size: 1.4rem;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.admin-button-group button:hover,
.back-btn:hover {
  color: #dc3545;
  transform: scale(1.2);
}

.admin-dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 25px;
}

.dashboard-box {
  background: #2a2d34;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dashboard-box:hover {
  background: #41454b;
  transform: translateY(-5px);
}

.dashboard-box h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.count {
  opacity: 0.8;
  font-size: 0.9rem;
}

.expanded-view {
  background: #212529;
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.logout-btn:hover {
  color: #dc3545;
}

.back-btn:hover {
  color: #007bff;
}
