.experience-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 52px);
  font-size: 3em;
  font-weight: bold;
  color: #333;
}

.experience-container::before {
  content: "Experience";
}
