/************ HomePage CSS ************/
.homepage-container {
  padding-top: 120px;
  padding-bottom: 100px;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    url("../assets/img/background/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  color: #edeeef;
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.profile-picture-container {
  padding-top: 96px;
  padding-bottom: 32px;
}

#profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 8px solid #edeeef;
  filter: grayscale(95%) brightness(0.9) contrast(1) saturate(0.6)
    hue-rotate(-30deg);
  position: relative;
  overflow: hidden;
  transition: transform 0.7s ease, filter 0.7s ease;
}

#profile-picture:hover {
  filter: grayscale(0%);
  transform: scale(1.1) rotate(2deg);
  border: 8px solid #fcbc1d;
}

.name {
  font-size: 5.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem !important;
  font-family: "Montserrat", sans-serif;
  color: #edeeef;
}

.changing-text-container {
  margin-bottom: 48px;
}

.changing-text {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0px auto;
  letter-spacing: 1px;
  color: #edeeef;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  white-space: wrap;
  overflow: hidden;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.changing-text-animation .TypeAnimation_cursor {
  animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.enter-portfolio-btn {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: fixed;
  padding: 1.25rem 2.5rem;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  color: #212529;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enter-portfolio-btn:hover {
  background-color: #f0f0f0;
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
    width: 100%;
    padding: 0 10px;
  }

  .name {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }

  .changing-text {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    width: 100%;
    padding: 0 10px;
  }
  .name {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }

  .changing-text {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 360px;
    width: 100%;
    padding: 0 10px;
  }

  .name {
    font-size: 2.25rem;
    padding-bottom: 50px;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }

  .changing-text-container {
    white-space: pre-line;
  }

  .changing-text {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
