/* Base Styles for the Parent Button */
.link-btn {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: #edeeef;
  color: #212529;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2),
    inset 0px -4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
}

.links-container {
  height: auto;
  max-width: 1140px;
  margin: 0 auto;
}

.link-btn:hover {
  background-color: #fcbc1d;
  /* transform: scale(1.1); */
}

.link-btn .icon-img {
  height: 50%;
  width: 50%;
  transition: transform 0.3s ease; /* Smooth transition for unhover */
  animation: rotate-backward 0.5s ease-in-out;
}

.link-btn:hover .icon-img {
  /* transform: scale(1.1); */
  animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-backward {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.link-item .icon-img {
  transition: transform 0.5s ease-in-out; /* Smooth transition for unhover */
  animation: rotate-backward 0.5s ease-in-out;
}

.link-item:hover .icon-img {
  animation: rotate 0.5s ease-in-out;
}

.link-btn:hover {
  background-color: #fcbc1d;
  /* transform: scale(1.1); */
}

/* Links Menu */
.links-menu {
  position: fixed;
  bottom: 85px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 999;
}

/* Child Link Item Styles */
.link-item {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #edeeef;
  color: #212529;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2),
    inset 0px -4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.link-item:hover {
  background-color: #fcbc1d;
  transform: scale(1.1);
}

/* Image inside the Link Item */
.icon-img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

/* Label that appears on hover */
.link-label {
  position: absolute;
  display: none;
  left: 40px;
  font-family: "Montserrat", sans-serif;
  color: #212529;
  font-size: 14px;
  font-weight: bold;
  background-color: #fcbc1d;
  padding: 8px 12px;
  border-radius: 6px;
  white-space: nowrap;
}

.link-item:hover .link-label {
  display: inline;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .link-btn {
    width: 40px;
    height: 40px;
  }

  .link-item {
    width: 40px;
    height: 40px;
  }

  .link-label {
    font-size: 12px;
    left: 60px;
  }
}
