@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.project-page-container {
  position: relative;
  display: flex;
  flex-direction: column; /* Ensure vertical stacking of child elements */
  align-items: center;
  justify-content: flex-start;
  overflow: auto; /* Ensure the page scrolls */
  height: auto;
  min-height: calc(100vh - 52px);
  /* max-height: calc(100vh - 52px); */
  background: transparent;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: "Montserrat", sans-serif;
  color: #212529;
  text-align: center;
}

.parallax-gradient-bg {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.project-page-div {
  /* max-height: calc(100vh - 67px); */
  height: auto;
  width: 100%;
  flex: 1; /* Allows the container to grow to fill the available space */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-container {
  scroll-snap-type: none; /* Disable snapping */
  display: flex;
  z-index: 5;
  position: sticky;
  top: 600px;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 52px);
  /* height: auto; */
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox: hide scrollbar */
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

.project-container::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.hover-tooltip {
  position: absolute;
  top: -30px; /* Adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
}

.project-section-title {
  font-family: "Montserrat", "Helvetica Neue";
  font-weight: 700;
  font-size: 2.5rem;
  color: #edeeef;
  margin-bottom: 20px;
  position: sticky;
  top: 30px;
}

.project-card {
  max-width: 1140px;
  /* scroll-snap-align: center;
  scroll-snap-stop: always; */
  display: flex;
  position: sticky;
  top: 60px;
  z-index: 10;
  flex-direction: row;
  width: min(1140px, 90%);
  text-align: left;
  padding: 20px;
  margin: 20px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:nth-child(3n + 1) {
  background: linear-gradient(
      rgba(139, 69, 90, 0.4),
      /* Dark Pink */ rgba(139, 69, 90, 0.4)
    ),
    url("https://www.transparenttextures.com/patterns/noise-pattern.png");
  background-size: cover;
  color: #f8f9fa; /* Light text for readability */
}

.project-card:nth-child(3n + 2) {
  background: linear-gradient(
      rgba(54, 79, 107, 0.4),
      /* Dark Blue */ rgba(54, 79, 107, 0.4)
    ),
    url("https://www.transparenttextures.com/patterns/noise-pattern.png");
  background-size: cover;
  color: #f8f9fa; /* Light text for readability */
}

.project-card:nth-child(3n) {
  background: linear-gradient(
      rgba(97, 89, 38, 0.4),
      /* Dark Yellow */ rgba(97, 89, 38, 0.4)
    ),
    url("https://www.transparenttextures.com/patterns/noise-pattern.png");
  background-size: cover;
  color: #f8f9fa; /* Light text for readability */
}

/* Enhance shadow on hover */
.project-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

/* .project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
} */

.project-info {
  flex: 4; /* Take up two-thirds of the card */
  padding: 40px 40px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #edeeef; /* Light text color for contrast */
}

.project-header {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.75rem, 1.1rem, 1.25vw);
  color: #edeeef;
}

.project-title {
  z-index: 50;
  inset: 0;
  display: flex;
  align-items: center;
  background-size: 200% 200%;
  color: transparent !important;
  text-align: left;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to bottom,
    rgba(252, 188, 29, 1),
    rgba(237, 238, 239, 0.95)
  );
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  font-weight: 700;
  margin: 10px 0;
}

.project-tagline {
  z-index: 50;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-size: clamp(0.75rem, 1.1rem, 1.25vw);
  margin: 10px 0;
  color: #edeeef;
  font-weight: 500;
}

.learn-more-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: fit-content;
  padding: 12px 20px; /* Larger button padding */
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #0056b3;
}

.project-image {
  margin: 40px 0px;
  flex: 3; /* Take up half the card */
  background-size: contain;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  background-position: center;
  border-radius: 12px; /* Match card's border-radius */
  aspect-ratio: 16 / 9;
}

.learn-button-motioned {
  height: auto;
  width: fit-content;
  margin: 5px 0;
}

@media (max-width: 992px) {
  .project-page-div {
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .project-card {
    width: min(720px, 100%);
  }

  .project-info {
    padding: 20px 20px 20px 0px;
    flex: 1;
  }

  .project-image {
    flex: 1; /* Prevent flex shrink issues */
  }
}

@media (max-width: 768px) {
  /* .learn-button-motioned {
    margin: 5px auto;
  } */

  .project-card {
    flex-direction: column-reverse;
    max-width: 540px;
    padding: 30px;
  }

  .project-info {
    padding: 20px;
    flex: 1;
  }

  .project-image {
    flex: none; /* Prevent flex shrink issues */
    margin: 20px 0 20px 0; /* Add space below the image */
    width: 100%; /* Make image take full width of parent */
    aspect-ratio: 16 / 9; /* Consistent aspect ratio */
    height: auto; /* Fixed height to ensure visibility */
  }
}

@media (max-width: 576px) {
  .project-page-div {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .project-card {
    width: 90%;
    padding: 20px;
  }
  .project-image {
    flex: none; /* Prevent flex shrink issues */
    align-self: center;
    width: 90%; /* Make image take full width of parent */
    height: auto; /* Let height adjust dynamically */
    aspect-ratio: 16 / 9;
  }
}
