.skill-container {
  display: flex;
  align-items: center;
  overscroll-behavior-y: contain;
  scroll-snap-align: center;
  scroll-snap-type: y mandatory;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../assets/img/background/about-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  scroll-behavior: smooth;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  color: #edeeef;
  text-align: center;
  z-index: 0;
}

.skill-graph {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  margin: 30px auto 0px auto;
  padding: 0 0px;
  z-index: 2;
}

.space-explorer {
  width: 15vw;
  height: auto;
  z-index: 1; /* Ensure it stays above skill-box */
  pointer-events: none;
}

.skill-box {
  position: relative;
  background: rgba(33, 37, 41, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1; /* Lower than .space-explorer */
  width: 100%;
  text-align: center;
  padding: 40px 50px;
  color: #ffffff;
}

.skill-heading {
  font-family: "Montserrat", sans-serif;
  color: #edeeef;
  font-size: 45px;
  font-weight: 700;
}

.skill-paragraph {
  color: #edeeef;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  margin: 14px 0 14px 0;
}

.item {
  padding: 20px 20px;
}

.skill-image {
  width: 212px;
  height: 212px;
  background-color: rgba(
    33,
    37,
    41,
    0.7
  ); /* Semi-transparent dark background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for the glass effect */
  border-radius: 16px; /* Rounded corners for a sleek look */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5),
    0px 0px 15px rgba(108, 188, 252, 0.4); /* Dark shadow and glowing blue edge */
  display: flex;
  justify-content: center; /* Centers the content */
  align-items: center; /* Centers the content */
  margin: auto; /* Centers the container horizontally */
  overflow: hidden; /* Ensures no content overflows */
  padding: 5px 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover animations */
}

.skill-image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.7),
    0px 0px 20px rgba(108, 188, 252, 0.7); /* Stronger glow on hover */
}

.skill-title {
  color: #edeeef;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin: 14px auto;
}

.skill-description {
  width: 80%;
  color: #edeeef;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 5px auto;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.custom-left-arrow {
  left: 10px; /* Position the left arrow */
}

.custom-right-arrow {
  right: 10px; /* Position the right arrow */
}

.custom-arrow img {
  width: 24px; /* Adjust arrow size */
  height: auto;
}

@media (max-width: 1200px) {
  .skill-div {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .skill-image {
    width: 172px;
    height: 172px;
  }
}

@media (max-width: 992px) {
  .skill-div {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .skill-image {
    width: 156px;
    height: 156px;
  }
}

@media (max-width: 768px) {
  .skill-div {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .skill-box {
    padding: 40px 10px;
  }

  .skill-image {
    width: 205px;
    height: 205px;
  }
}

@media (max-width: 576px) {
  .skill-div {
    width: 95%;
    margin: 0 auto;
  }

  .skill-paragraph {
    margin: 14px 0 15px 0;
  }

  .skill-image {
    align-self: center;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 350px) {
}
