/* Import Montserrat Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* Font Face Declarations for Local Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

/* Reset and Global Styles */
html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow: hidden;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid limegreen !important;
} */
